:root {
/* selectable */
--col_sel_light: #757575;
--col_sel_dark:  #4e4c4f;
/* background */
--col_bg_light:  #333333;
--col_bg_dark:   #272727;
/* text color */
--col_txt_light: #CECECE;
--col_txt_unfocus: #AAA;
--col_txt_dark : #666666;
/* selected : blue for buttons and background */
--col_sel_blue_light : #42b7f0;
--col_sel_blue_light_transparent : #42b7f0;
--col_sel_blue : #0F72BD;
 
  /* color per type */
  --col_type_sketch :#7CB8DE; /* dark blue */
  --col_type_gen    :#C3DF7F; /* green */
  --col_type_plane  :#DE6666; /* red */
  --col_type_exp    :#DEDC66; /* yellow ? */
  
  --col_invalid     :#D74242; /* red */
  
    /* defines */
  --text_small_size: 11px;
  --text_base_size : 13px;
  --text_big_size  : 16px;

  --txt_base_width : calc(var(--text_base_size)/2);
  --txt_base_height : calc(var(--text_base_size)/2);
  --mar_height : var(--txt_base_height);
  --mar_width : var(--txt_base_width);
  --mar_big_height: calc(var(--txt_base_height) + var(--txt_base_height)/2);
  --mar_big_width : calc(var(--txt_base_width) + var(--txt_base_width)/2);
  --grid_gap : 2px;
  --slider_base_height : calc(var( --txt_base_height)/3);
  --slider_thumb_height : calc(var( --txt_base_height)*1.5);
  
}
