{{- $path := .Get "path" -}}
{{ $currentDir := .Page.File.Dir }}
{{ $filepath := printf "%s/%s" $currentDir $path }}
{{ $lang := .Get "lang" | default "text" }}
{{ $title := .Get "title" | default (print "Show " $path) }}
{{ $code := readFile $filepath }}
{{- $caption := .Get "caption" }}

<figure>
  {{ with $title }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  <div style="
    max-height: 50em;
    overflow: auto;
    border-radius: 10px;"
>
    {{ highlight $code $lang "" }}
  </div>
  {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
</figure>
